@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: #d4d4d4;
}


/* Estilos específicos para Firefox */
@-moz-document url-prefix() {
    /* Estilos para Firefox */
    html {
        scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
      
    }

}

/* Estilos específicos para Chrome y otros navegadores basados en WebKit */
@media screen and (-webkit-min-device-pixel-ratio:0) {

    body::-webkit-scrollbar {
        display: none; /* Oculta la barra de desplazamiento en Chrome y navegadores WebKit */
       
    }
}


::-webkit-scrollbar-button {
    background-color: transparent; /* Color del botón de flecha */
    border-radius: 0px; /* Radio de borde del botón de flecha */
}




::-webkit-scrollbar-thumb {
    background-color: #3d3d3d; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 0px; /* Radio de borde del pulgar */
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color de la pista de la barra de desplazamiento */
    border-radius: 0px; /* Radio de borde de la pista */
}

